/* opacity */
body{height: 5000px;}
img {
    opacity: 0.5;
  }
  h2{position: sticky;
    background-color: chartreuse;
top: 5px;}
.ff{position: sticky;
background-color: coral;
top: 5px;}
  
  img:hover {
    opacity: 1.0;}
    .aa{ background-color: brown;
    width: 100px;
height: 40px;
position: absolute;
bottom: 0px;
right: 0px;}
.perant{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: aqua;
}
.as{background-color: blue;
    width: 100px;
height: 40px;
position: fixed;

}

div{background-color: aqua;
    width: 400px; 
    height: 60px;
    text-align: center;

}
ul{
    margin: inherit;
    list-style: none;
    padding: 10px;
    /* display: flex; */
    
    
    cursor: pointer;}
    li{padding: 20px;
    display: inline-block;}
li:hover{
    width: inherit;
    margin: inherit;
    padding: inherit;
    color: chartreuse;
    height: inherit;
background-color: blue; 
}
.b{display: none;
background-color: red;}
.b:hover{ 
    display: block;
    background-color: aqua;
}
.t{background-color: chartreuse;
   
}
/* drogroup down */
span{display: none;}

span:hover{display: block;}
