/* .flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
.flex-container >div {
    background-color: DodgerBlue;
    color: white;

    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */
  /* .conterna {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    flex-direction: column;
  
  }
  
  .conterna>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */
  .main{width:2000px ;
display: flex;
background-color: aqua;
flex-direction: row;
flex-wrap: wrap;}
  .main div{width:50% ;
    text-align: center;
    
        
    }
    @media (max-width: 800px){
.main{
    flex-direction: column;
}
    }